<h1 align="center">Listing all articles.</h1>
<div align="center" >
<%= will_paginate  @arihant  %>
</div>
<%= render 'arihant', obj: @arihant %>
<div align="center" >
<%= will_paginate   @arihant %>
</div>