<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://mysmallprojects-arihant21.c9users.io/">Arihants Blog</a>
        </small>
       
       <nav>
        <ul>
            <li>
                <%= link_to "About us", about_path %>
            </li>
        </ul>
        </nav> 
    </footer>

</div>